{
    "mnemonic": "",
    "numConfirmBlocks": 5,
    "gnosisSafeAddr": "",
    "addressStore": {
        "address": "",
        "deploy": true,
        "init": {}
    },
    "stkBNB": {
        "address": "",
        "deploy": true,
        "init": {}
    },
    "undelegationHolder": {
        "address": "",
        "deploy": true,
        "init": {}
    },
    "feeVault": {
        "address": "",
        "deploy": true,
        "upgrade": false,
        "init": {}
    },
    "stakePool": {
        "address": "",
        "deploy": true,
        "upgrade": false,
        "init": {
            "config": {
                "bcStakingWallet": "",
                "minBNBDeposit": "1000000000000",
                "minTokenWithdrawal": "1000000000000",
                "cooldownPeriod": "1296000",
                "fee": {
                    "reward": 2000000000,
                    "deposit": 0,
                    "withdraw": 0
                }
            }
        }
    }
}
