{
    "mnemonic": "",
    "botAddr": "",
    "numConfirmBlocks": 1,
    "postDeploySetup": true,
    "gnosisSafeAddr": "",
    "addressStore": {
        "address": "",
        "deploy": true
    },
    "stkBNB": {
        "address": "",
        "deploy": true
    },
    "undelegationHolder": {
        "address": "",
        "deploy": true
    },
    "feeVault": {
        "address": "",
        "deploy": true,
        "upgrade": false
    },
    "stakePool": {
        "address": "",
        "deploy": true,
        "upgrade": false,
        "init": {
            "config": {
                "bcStakingWallet": "0xE808c4F0562dC0826E62Aa991F8c188c10Afe6F0",
                "minCrossChainTransfer": "1100000000000000000",
                "minBNBDeposit": "1000000000000",
                "minTokenWithdrawal": "1000000000000",
                "cooldownPeriod": "43200",
                "fee": {
                    "reward": 2000000000,
                    "deposit": 0,
                    "withdraw": 0
                }
            }
        }
    }
}
