{
    "mnemonic": "",
    "etherscanApiKey": "",
    "rpcURL": "https://rpc.ankr.com/bsc",
    "botAddr": "0xf39Fd6e51aad88F6F4ce6aB8827279cffFb92266",
    "numConfirmBlocks": 1,
    "postDeploySetup": true,
    "gnosisSafeAddr": {
        "primary": "",
        "secondary": ""
    },
    "addressStore": {
        "address": "",
        "deploy": true
    },
    "timelockedAdmin": {
        "address": "",
        "deploy": true,
        "init": {
            "minDelay": "86400"
        }
    },
    "stkBNB": {
        "address": "",
        "deploy": true
    },
    "delegationManager": {
        "address": "",
        "deploy": true,
        "upgrade": false
    },
    "feeVault": {
        "address": "",
        "deploy": true,
        "upgrade": false
    },
    "stakePool": {
        "address": "",
        "deploy": true,
        "upgrade": false,
        "init": {
            "config": {
                "bcStakingWallet_deprecated": "0x0000000000000000000000000000000000000000",
                "minDelegationAmount": "1100000000000000000",
                "transferOutTimeout_deprecated": "0",
                "minBNBDeposit": "1000000000000",
                "minTokenWithdrawal": "1000000000000",
                "cooldownPeriod": "1296000",
                "fee": {
                    "reward": 2000000000,
                    "deposit": 0,
                    "withdraw": 0
                }
            }
        }
    }
}
