{
    "mnemonic": "",
    "botAddr": "",
    "numConfirmBlocks": 1,
    "postDeploySetup": true,
    "gnosisSafeAddr": {
        "primary": "0xg39Fd6e51aad88F6F4ce6aB8827279cffFb92266",
        "secondary": "0xh39Fd6e51aad88F6F4ce6aB8827279cffFb92266"
    },
    "addressStore": {
        "address": "",
        "deploy": true
    },
    "timelockedAdmin": {
        "address": "",
        "deploy": true,
        "init": {
            "minDelay": "604800"
        }
    },
    "stkBNB": {
        "address": "",
        "deploy": true
    },
    "undelegationHolder": {
        "address": "",
        "deploy": true
    },
    "feeVault": {
        "address": "",
        "deploy": true,
        "upgrade": false
    },
    "stakePool": {
        "address": "",
        "deploy": true,
        "upgrade": false,
        "init": {
            "config": {
                "bcStakingWallet": "0xE808c4F0562dC0826E62Aa991F8c188c10Afe6F0",
                "minCrossChainTransfer": "1100000000000000000",
                "transferOutTimeout": "3600",
                "minBNBDeposit": "1000000000000",
                "minTokenWithdrawal": "1000000000000",
                "cooldownPeriod": "1296000",
                "fee": {
                    "reward": 2000000000,
                    "deposit": 0,
                    "withdraw": 0
                }
            }
        }
    }
}